/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}



/*Slide*/
.slider {
    height: 100%;
}
.slider-slide {
    padding-top: 80px;
    color: #000;
    background-color: #fff;
    text-align: center;

    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

#logo {
    margin: 30px 0px;
}

#list {
    width: 170px;
    margin: 30px auto;
    font-size: 20px;
}
#list ol {
    margin-top: 30px;
}
#list ol li {
    text-align: left;
    list-style: decimal;
    margin: 10px 0px;
}

.selectable{
    cursor: pointer;
}




.searchBar{
    font-size: 20px!important;
    padding-left: 5px;
}

.menu{

}

/* fix minheight list thumbnails
.item-thumbnail-left, .item-thumbnail-left .item-content {
    min-height: 70px;
}*/

.ng-click-active{
    /*
    -webkit-transform: scale3d(.97,0.97, 1);
    -moz-transform: scale3d(.97,0.97, 1);
    -o-transform: scale3d(.97,0.97, 1);
    -ms-transform: scale3d(.97,0.97, 1);
    transform: scale3d(.97,0.97, 1);
  transition: all 0.5s ease-in-out;
    background-color:#eee;
    */

}

/* checkbox avant*/
.checkbox input:before {
    -moz-transition-property: none;
    -webkit-transition-property: none;
    -o-transition-property: none;
    transition-property: none;
}

/* the checkmark within the box */
.checkbox input:after {
    -moz-transition-property: none;
    -webkit-transition-property: none;
    -o-transition-property: none;
    transition-property: none;
}

/*jauge*/
#jauge-progress {
    position: relative;
    border: none;
    background-color: #e3e3e3;
    width: 130px;
}
#jauge-progress .bg {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 0px;
    border: none;
    background-color: #7EAEFF;
}
#jauge-progress .nums {
    position: relative;
    top: 2px;
    width: 100%;
    text-align: center;
    z-index: 1;
    color:#FFF;
}


#jauge-progress h4{
    display: inline;
    font-size: 18px;
    line-height: 15px;
    color:#FFF;
}

.search-bar-down{
    top:45px;
    transition: top 1s;
}

.search-bar-up{
    top:92px;
    transition: top 1s;
}
.search-bar-header-up{
    top:44px;
    transition: top 1s;
}
.search-bar-header-down{
    top:-60px;
    transition: top 1s;
}

