/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}



/*Slide*/
.slider {
    height: 100%;
}
.slider-slide {
    padding-top: 80px;
    color: #000;
    background-color: #fff;
    text-align: center;

    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

#logo {
    margin: 30px 0px;
}

#list {
    width: 170px;
    margin: 30px auto;
    font-size: 20px;
}
#list ol {
    margin-top: 30px;
}
#list ol li {
    text-align: left;
    list-style: decimal;
    margin: 10px 0px;
}

.selectable{
    cursor: pointer;
}




.searchBar{
    font-size: 20px!important;
    padding-left: 5px;
}

.ng-click-active{


}
/*
.anim-item{
    transition: all 1s ease-in-out;
}


.anim-item:hover{

}


.anim-item:active, .anim-item:focus,.anim-item.active{
    background-color: rgba(74, 135, 238, 0.2)!important;
    -webkit-transform: scale3d(.97,0.97, 1);
    -moz-transform: scale3d(.97,0.97, 1);
    -o-transform: scale3d(.97,0.97, 1);
    -ms-transform: scale3d(.97,0.97, 1);
    transform: scale3d(.97,0.97, 1);
    transition: all 0.5s ease-in-out;
}*/


.item.active:not(.item-divider):not(.item-input):not(.item-input-inset), .item-complex.active .item-content {
    background-color: inherit;
}


/* checkbox avant*/
.checkbox input:before {
    -moz-transition-property:  all 0.5s ease-in-out;
    -webkit-transition-property:  all 0.5s ease-in-out;
    -o-transition-property:  all 0.5s ease-in-out;
    transition-property:  all 0.5s ease-in-out;
}

/* the checkmark within the box */
.checkbox input:after {
    -moz-transition-property:  all 0.5s ease-in-out;
    -webkit-transition-property:  all 0.5s ease-in-out;
    -o-transition-property:  all 0.5s ease-in-out;
    transition-property:  all 0.5s ease-in-out;
}

/******** JAUGE *******/
#jauge-progress {
    position: relative;
    border: none;
    background-color: #e3e3e3;
    width: 130px;
}
#jauge-progress .bg {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 0px;
    border: none;
    background-color: #7EAEFF;
}
#jauge-progress .nums {
    position: relative;
    top: 2px;
    width: 100%;
    text-align: center;
    z-index: 1;
    color:#FFF;
}


#jauge-progress h4{
    display: inline;
    font-size: 18px;
    line-height: 15px;
    color:#FFF;
}

/***** barre de recherche ********/
.search-bar-down{
    /*top:45px;*/
    transition:  0.5s;
    -webkit-transform: translate3d(0px, 45px, 0px);
}

.search-bar-up{
    /*top:92px;*/
    transition:  0.5s;
    -webkit-transform: translate3d(0px, 92px, 0px);
}
.search-bar-header-up{
   /* top:44px;*/
    transition:  0.5s;
    -webkit-transform: translate3d(0px, 0px, 0px);
}
.search-bar-header-down{
    /*top:-60px;*/
    transition:  0.5s;
    -webkit-transform: translate3d(0px, -60px, 0px);
}


/**bohomme*/
.click-anim {
    -webkit-transition: .3s cubic-bezier(.15,.60,.30,1.9);
    transition: .3s cubic-bezier(.15,.60,.30,1.9);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}


figure{
    -webkit-animation-delay: -.2.5s;
    animation-delay: -.2.5s;
    width: 200px;
    height: 200px;
    padding: 40px;
    box-shadow: inset -10px -30px rgba(0,0,0,.06);
    border-radius: 50%;
    -webkit-animation: bobble 5s ease-in-out infinite;
    animation: bobble 5s ease-in-out infinite;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-transition: padding .3s, bottom .3s,background-color 1s;
    transition: padding .3s, bottom .3s,background-color 1s;
    text-align: center;
    background-color:#FFBF00;

}

@-webkit-keyframes bobble {
    33% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }

    66% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
}

@keyframes bobble {
    33% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }

    66% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
}
.monsieurX{
    width:260px;
    margin:auto;
    z-index: 9999;
    padding-left: 30px;
}
.monsieurX figure{
    -webkit-animation-delay: -4s;
    animation-delay: -4s;
}
.monsieurX:hover figure{
    background-color: rgb(50, 205, 50);
    padding: 30px 40px;
}
.monsieurX:hover .eye{
    width: 30px;
    height: 8px;
}
.monsieurX:active figure,.monsieurX:focus figure,.monsieurX.ng-click-active figure{
    background-color:coral;
}


.monsieurX:hover .click-anim {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
}

.monsieurX:active .click-anim,.monsieurX:focus .click-anim,.monsieurX.ng-click-active .click-anim {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
/* Shadow ======================================================= */
.shadow {
    height: 20px;
    background: rgba(0,0,0,.1);
    width: 60%;
    border-radius: 100%;
    margin: -15px 0 0 30%;
    -webkit-transition: .3s;
    transition: .3s;
}
.monsieurX:hover .shadow {
    background: rgba(0,0,0,.05);
}


.monsieurX:active .shadow,.monsieurX:focus .shadow,.monsieurX.ng-click-active .shadow {
    background: rgba(0,0,0,.08);
    width: 70%;

}
/* Eyes ======================================================== */
.eye {
    display: inline-block;
    width: 10px;
    height: 15px;
    margin: 0 5px 5px;
    background: rgba(0,0,0,.9);
    border-radius: 10px;
    border-radius: 50%;
    -webkit-animation: blink 4s ease-in-out infinite;
    animation: blink 4s ease-in-out infinite;-webkit-transition: 2s;
    transition:2s;
}

.monsieurX:active .eye,.monsieurX:focus .eye,.monsieurX.ng-click-active .eye {
    background-color:#FFBF00;
    width:28px;
    height: 12px;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

/* clignotement yeux */
@-webkit-keyframes blink {
    90% {
        -webkit-transform: none;
        transform: none;
    }

    95% {
        -webkit-transform: rotateX(90deg);
        transform: rotateX(90deg);
    }
}

@keyframes blink {
    90% {
        -webkit-transform: none;
        transform: none;
    }

    95% {
        -webkit-transform: rotateX(90deg);
        transform: rotateX(90deg);
    }
}

.mouth {
    display: block;
    width: 100%;
    height: 20px;
    margin: 5px auto 0;
    background: rgba(0,0,0,.9);
    border-radius: 10px 10px 100px 100px;
    border-radius: 10px 10px 50% 50%;
    -webkit-transition: border-radius .5s, height .5s cubic-bezier(.15,.60,.30,1.9);
    transition: border-radius .5s, height .5s cubic-bezier(.15,.60,.30,1.9);
    overflow: hidden;
    line-height: 0;
    -webkit-transform-origin: center top;
    transform-origin: center top;
}

.monsieurX:active .mouth, .monsieurX:focus .mouth, .monsieurX.ng-click-active .mouth {
    -webkit-animation: hungry .5s infinite;
    animation: hungry .5s infinite;
    border-radius: 30px 30px 50% 50%;
    height: 80px;
}

.monsieurX:hover {
    cursor: pointer;
}

@-webkit-keyframes hungry {
    40% {
        height: 40px;
    }
}

@keyframes hungry {
    40% {
        height: 40px;
    }
}


.teeth:after,
.teeth:before,
.tooth:after {
    display: inline-block;
    content: "";
    margin: 0 2px;
    width: 15px;
    height: 15px;
    background: #eee;
}
.shadow {
    height: 20px;
    background: rgba(0,0,0,.1);
    width: 60%;
    border-radius: 100%;
    margin: -15px 0 0 30%;
    -webkit-transition: .3s;
    transition: .3s;
}
.shadow:hover {
    background: rgba(0,0,0,.05);
}

.creatures {
    -webkit-animation: enter .7s .2s both;
    animation: enter .7s .2s both;
    -webkit-transform-origin: center top;
    transform-origin: center top;
}



