node_modules
dist
app/bower_components
www
npm-debug.log

plugins
merges
phonegap
styles
test
tmp
www
css
.cordova
.tmp
.sass-cache
.idea
.classpath
.editorconfig
.travis.yml
npm



platforms
!android/src

