<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Phonegap</name>
    <description>
        Phonegap gab
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        Gab
    </author>
    <feature name="http://api.phonegap.com/1.0/device" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="UIWebViewBounce" value="false" />


</widget>