<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Phonegap</name>
    <description>
        Phonegap gab
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        Gab
    </author>

    <preference name="orientation" value="default" />

    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="UIWebViewBounce" value="false" />
    <feature name="org.apache.cordova.facebook.Connect">
        <param name="android-package" value="org.apache.cordova.facebook.ConnectPlugin" />
    </feature>
    <access origin="*" />
</widget>