<view title="'Amis: ' + friends.length">
    <div class="bar bar-subheader">
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search" ng-model="search" class="searchBar" ng-change="currentPage = 0">
            <button class="button button-clear" ng-click="search=''">X</button>
        </label>

    </div>
    <content has-header="true" has-tabs="true" style="top:100px">
        <ul class="list">
            <li class="item item-checkbox selectable" ng-repeat="friend in friends | filter: {'name':search,'first_name':search} | startFrom: currentPage * pageSize  | limitTo:pageSize" ng-click="addFriend(friend,$event)">

                <label class="checkbox">
                    <input type="checkbox" name="{{friend.id}}" checklist-model="selectedFriends" checklist-value="friend">
                </label>
                <img ng-src="{{friend.picture.data.url}}">
                {{friend.name}}
            </li>
        </ul>
    </content>
    <div class="tabs tabs-icon-left">
        <a ng-controller="ModalCtrl" class="tab-item" data-ng-click="openModal()" ng-show="selectedFriends.length > 0">
            <i class="icon ion-at"></i>
            Inviter ({{selectedFriends.length}})
        </a>

        <a class="tab-item" ng-show="numberOfPages() > 1">
            <i class="icon ion-chevron-left" ng-click="previousPage()"></i>
        </a>

            <i style="color:#f0b840" class="button button-energized button-clear">{{currentPage+1}}</i>
            /
            <i style="color:#f0b840" class="button button-energized button-clear">{{numberOfPages()}}</i>


        <a class="tab-item" ng-show="numberOfPages() > 1">
            <i class="icon ion-chevron-right" ng-click="nextPage()"></i>
        </a>

    </div>
</view>