<div class="modal">

    <header class="bar bar-header bar-energized">
        <h1 class="title">Confirmation</h1>
        <button class="button button-energized" ng-click="closeModal()">Annuler</button>
    </header>

    <content has-header="true">

        <div class="padding">
            <div class="list">

                <ul class="list">
                    <li class="item item item-thumbnail-left selectable item-icon-right" ng-repeat="friend in selectedFriends" ng-click="addFriend(friend,$event)">
                        <img ng-src="{{friend.picture.data.url}}">
                        <h2>{{friend.first_name}}</h2>
                        <h4>{{friend.name}}</h4>
                        <label class="checkbox icon">
                            <input type="checkbox" name="{{friend.id}}" checklist-model="selectedFriends" checklist-value="friend">
                        </label>
                    </li>
                </ul>

                <button class="button button-full button-positive" ng-click="closeModal()">Inviter ({{selectedFriends.length}})</button>

            </div>
        </div>

    </content>
</div>