<ion-view title="Différents inputs">
    <ion-content has-header="true"  padding="true">
        <label class="item item-input">
            <span class="input-label">Email</span>
            <input type="email">
        </label>
        <label class="item item-input">
            <span class="input-label">Telephone</span>
            <input type="tel">
        </label>
        <label class="item item-input">
            <span class="input-label">Number</span>
            <input type="number">
        </label>
        <label class="item item-input">
            <span class="input-label">Date</span>
            <input type="date">
        </label>
        <label class="item item-input">
            <span class="input-label">Month</span>
            <input type="month">
        </label>
        <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password">
        </label>
    </ion-content>
</ion-view>
