<div ng-controller="leftMenuCtrl">
    <header class="bar bar-header bar-assertive">
        <div class="title">{{user.username}}</div>
    </header>
    <content has-header="true">
        <ul class="list selectable">
            <a ng-hide="user.username" class="item item-icon-left" ng-click="login()">
                <i class="icon ion-locked"></i>
                Connexion
            </a>

            <a ng-show="user.username" class="item item-icon-left" ng-click="closeMenu('menu.friends')">
                <i class="icon ion-person-stalker"></i>
                Mes amis
                <span class="badge badge-assertive"></span>

            </a>

            <a class="item item-icon-left" ng-click="closeMenu('menu.about')">
                <i class="icon ion-help-buoy"></i>
                À propos
            </a>

            <a ng-show="user.username" class="item item-icon-left" href="#" ng-click="logout()">
                <i class="icon ion-power"></i>
                Déconnexion
            </a>
        </ul>
    </content>
</div>